*{
	font-family: 'Graduate', cursive;
}

a {
	color: black;
}

a.menu-link {
	height: auto;
	width: auto;
	display: flex;
	color: white;
	justify-content: flex-start;
	align-items: center;
	margin: 5px;
}

body{
	margin: 0;
	padding: 0;
	display: grid;
    background-image: url("../images/brownTexture.png");
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 100%;
    grid-template-areas:
    	"H"
    	"."
    	"C";
}

.content {
	display: flex;
	flex-direction: column;
	grid-area: C;
}

h2{
	font-size: 44px;
	color: black;
	text-align: center;
}

.menu-bar{
	grid-area: H;
	display: inline-flex;
	align-items: center;
	background-color: #092668;
	color: #FFFFFF;
	font-size: 24px;
}